 <footer class="default-footer text-center">
        <div class="container">
          <img class="mb-40 footer-logo" src="{{ BASE_PATH }}/assets/img/tema/{{ site.img }}" alt="">
          <span class="copy-right dis-blk" style="color:var(--color-3)">Developed with <a class="morel" href="https://morel.la">MOREL</a></span>
          <span class="social">
                  
                  {% include social-block.html %}                            
                
          </span>
        </div>
      </footer>