  <!--lista 1 -->
        <div class="row">
            <!--LOOP DE LISTA 1-->
            {% for book in site.books %}
             <div class="basis">
                <div class="container">
                    <a href="{{ BASE_PATH }}{{ book.url }}"><img src="{{ BASE_PATH }}/img/{{ book.img }}" alt="{{ book.title }}" class="image sombra"></a>
                    <div class="overlay">
                        <div class="text">
                            {% include book-list-metadata.html %}
                        </div>
                    </div>
                </div>
                <div class="price">
                    <div class="title">{{ book.title }}<br></div>
                    <div class="autor">{{ book.author }}{% if book.author2 %}, {{ book.author2 }}{% endif %}{% if book.author3 %}, {{ book.author3 }}{% endif %}</div>
                </div>
            </div>
            
            {% endfor %}
            
        </div>