.autor-pagina {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 3.125em;
    margin-top: 2.5em;
    background-color: var(--background);
}

.autor-pagina .portada {
    max-width: 80%;
    justify-content: center;
}

.autor-pagina .responsive {
    width: auto;
    max-width: 100%;
}

.autor-pagina .portada .img-frame {
    text-align: center;
}

/*xs, s & m styling*/
@media screen and (max-width: 798px) {
    .autor-pagina .portada .img-frame {
        padding: 0 15.1% 0 15.1%;
    }

    .autor-pagina .portada {
        max-width: 100%;
    }

    .autor-pagina .responsive {
        width: 100%;
    }
}


.container {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.autores .image {
    width: calc(100% - 12px);
    border: 1px solid #ddd;
    padding: 5px;
    background-color: var(--background);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    pointer-events: none;
}