---
layout: default
---
<h1 class="book">{{ page.title }}</h1>

<div class="obra-dia sombra">
<div class="ficha-container" style="">
    <div class="ficha-title">
        <h2>
            {{ page.title }}
                <a class="morel a2a_dd" href="https://www.addtoany.com/share">
                <i class="fa fa-share-alt" style="padding: 0em 0em;">
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                </i></a><br>
        </h2>
    </div>
    <div class="ficha-extract" style="">
        <p class="morel">
            {{ content }}
        </p>
    </div>
    <div class="ficha-metadata">
        {% include book-metadata.html %}
    </div>
</div>
<div class="portada" style="">
    {% include actions-h.html %}
</div>
<div class="actions-v">
 {% include actions-v.html %}
</div>
</div>
<!--Obras-->

{% include book-list-related-book.html %}

<!-- fin de obras relacionadas -->

