<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/main.css">
    {% comment %}
    {% feed_meta %}
    {% endcomment %}
    {% seo %}
</head>

<body style="background: url('{{ BASE_PATH }}/assets/img/tema/{{ site.background }}');">
    <script>0</script>
    {% include nav-bar.html %}
        
        {{ content }}
 
</body>
</html>