<!DOCTYPE html>
<html lang="en">
<!-- allways remember to update default-blog too -->
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.BASE_PATH }}/favicon.ico">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/main.css">
    {% comment %}
    {% feed_meta %}
    {% endcomment %}
    {% seo %}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VEJTS6HGDX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VEJTS6HGDX');
</script>

<body style="background: url('{{ site.BASE_PATH }}/assets/img/tema/{{ site.background }}');">
    <script>0</script>
    {% include nav-bar.html %}
 
    <!--main container and title page-->
    <div class="main-container">
        
        <!-- contenido -->
        
        {{ content | append_html_to_links }}

      
         <!--promoción proyecto-->
        {% include promotion.html %}
    </div>
       

    <!--footer-->
 

      {% include footer.html %}
    <!-- fin del footer -->
 
</body>
</html>