/* RESPONSIVE LOGO */
/* .header .logo {
  width: 125px;
  height: 184px;
  background-image: url("../img/morel.svg");
  background-position: center bottom;
  padding: 0px;
  margin: 0 auto; }

.tienda .logo {
  background-image: url("../img/morel-tienda.svg"); }

.header .r-logo {
  display: flex;
  justify-content: center;
  height: 65vh;
  align-items: center;
  text-align: center; }

.logo-container input, .logo-container a {
  display: none; }

/*s*/
/* @media only screen and (min-width: 376px) and (max-width: 599px) {
  .header .logo {
    background-position: center 504px;
    width: 187px;
    height: 275px; } }

/* xl */
/* @media only screen and (min-width: 1227px) {
  .header .logo {
    background-position: center top;
    width: 560px;
    height: 258px; } }
/*l */
/*@media only screen and (min-width: 1040px) and (max-width: 1226px) {
  .header .logo {
    background-position: center 1335px;
    width: 520px;
    height: 240px; } }
/*ml*/
/* @media only screen and (min-width: 798px) and (max-width: 1039px) {
  .header .logo {
    background-position: center 1050px;
    width: 396px;
    height: 260px; } }
/*m*/
/* @media only screen and (min-width: 600px) and (max-width: 797px) {
  .header .logo {
    background-position: center 745px;
    width: 300px;
    height: 197px; } }
/*header*/
/* .logo-container {
  max-width: 50%;
  margin-top: 2rem; }

/*xs styling*/
/*Desde s hasta xl*/
/* @media screen and (min-width: 600px) {
  .header .r-logo {
    height: 70vh !important; }

  .logo-container input, .logo-container a {
    display: inline; }

  .header.tienda {
    height: 55vh !important; } } */